ul, li{
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 13px / 1 helvetica;
  background-color: #fff;
  line-height: 1.4em;
  color: #333333
}

#heading {
  padding: 1em 1em;
  background: #f3f3f3;
  /* border: 1px solid purple; */
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* border: 1px solid pink; */
}

.top-nav li {
  font-family: Helvetica;
  font-size: 13px;
  padding: .5em;
  font-weight: bold;
  color: #333333;
  /* border: 1px solid green; */
}

.top-nav li a {
  text-decoration: none;
  color: #333333;
  /* border: 1px solid blue; */
}

.cats {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 10em;
  /* border: 1px dotted grey; */

}

.cat {
  max-width: 34em;
  padding: 2% 2% 2% 0%;
  /* border: 1px dotted brown; */
}

.cat img {
  width: 100%;
  border: 1px solid #CACACA;
  border-radius: .25em;
}

.cat ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CACACA;
  list-style: none;
}

.cat li {
  display: flex;
  align-items: center;
}

.cat p {
  color: #CACACA;
  font-size: 15px;
  margin: 1em 0;
  font-weight: bold;
}

.cat-img-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #777;
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

.cat-img-title span {
  color: #777;
  padding: 0.25em;
}

.cat-img-title a {
  color: #333;
  text-decoration: none;
}

#cat-creator-img {
  width: 8%;
}